.card-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}
.card-details { 
    border: 2rem solid var(--color-bg);
    text-align: center;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}